<!--
Make an app to converts celcius to fahrenheit. No JavaScript is necessary. Hints at the bottom of this file.
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Celcius to Fahrenheit</title>
    <script src="angular.js"></script>
  </head>
  <body>
    <div ng-app ng-init="celsius">
      Enter a temperature in celsius:
      <input type="number" ng-model="celsius"><br>
      farenheit = {{celsius * 9 / 5 + 32}}
      <label></label>
    </div>
  </body>
</html>
















<!--
Hints: Look at angular-examples/2-arithmetic.html. Use a number input instead of a text input to make sure that AngularJS is doing the number conversion for you:

```
<input type="number" ng-model="celcius">
```

The formula for conversion is:
fahrenheit = celcius * 9 / 5 + 32
-->
